body {
    font-family: "Work Sans";
    display: flex;
    flex-direction: row;
}

::selection {
    /* background-color: #55d3a9; */
    background-color: #a897e6;
}

a {
    text-decoration: none;
    color: #111;
}

header {
    margin-top: 20px;
    margin-left: 20px;

    position: fixed;
    display: flex;
    flex-direction: column;

    /* background-color: antiquewhite; */
    height: 100vh;
}

#logo {
    font-size: 2.6em;
    font-weight: 600;

    animation: logo-blink 5s infinite 5s;

    color: #111;
}

@keyframes logo-blink {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

.archive {
    position: relative;
    margin-top: 100px;

    span, a {
        color: #111;
        text-decoration: none;
        font-size: 1.3rem;
    }

    img {
        display: none;
    }

    .archive-dash {
        height: 4px;
        width: 130px;
        background-color: #111;

        margin-top: 12px;
    }
}

#swinburne:hover {
    font-weight: 600;

    img {
        position: absolute;
        display: inline-block;
        width: 30px;
        height: 30px;
        /* transform: rotate(-45deg); */
        top: -13px;
        margin-left: -5px;

        animation: rightward 1.3s infinite 200ms;
        animation-timing-function: ease-out;
    }

}

@keyframes rightward {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    30% {
        transform: translateX(5px);
        opacity: 1; 
    }
    100% {
        transform: translateX(30px);
        opacity: 0;

    }
}

.info {
    margin-top: 200px;

    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;

    .major {
        margin: 0;
        font-size: 0.95em;
        font-weight: 700;
    }

    .started {
        margin: 0;

        font-size: 1.3em;
        width: 270px;
    }
}

.content {
    position: relative;
    display: block;
    margin-left: 38%;
    width: 100%;

    .section-name {
        font-weight: 600;
        font-size: 2.3em;
        /* color: #e6e6e6; */
        color: #111;
        margin-top: 25px;
    }
}

section.pop-up {
    width: 100%;
    height: 100px;
    background-color: aquamarine;
    border-radius: 10px;
    margin-top: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        margin-left: 30px;
        font-size: 1.4em;
    }

    display: none;
}

section.about {
    margin-top: 0;
    /* border: 4px solid #111;
    border-radius: 20px;
    padding: 50px; */
    height: 90vh;
    display: none;

    img {
        width: 200px;
    }

    .container {
        margin-top: 0;
        display: flex;
        flex-direction: column;
        gap: 70px 60px;

        /* margin-left: 40px; */

        img {
            width: 200px;
        }

        .information {
            position: relative;
            display: flex;
            flex-direction: column;
            gap: 10px;

            p {
                font-size: 1em;
                width: 300px;
                /* margin-left: 180px; */
            }

            a:hover {
                font-weight: 600;
            }

            .email {
                margin-top: 10px;
                position: relative;
                #email {
                    font-weight: 500;
                    font-size: 1em;
                    border: 2px solid #111;
                    padding: 6px 18px;
                    border-radius: 10px;
                    /* cursor: pointer; */
                }
    
                #mailto img {
                    position: absolute;
                    top: -11px;
                    margin-left: 10px;
                    width: 40px;
                    background-color: #f2f2f2;
                    border-radius: 50%;
                    transition: transform 500ms;
                }

                #mailto img:hover {
                    transform: translateX(20px);
                }
            }
        }
    }
}

section.projects {
    margin-top: 0;

    .year {
        color: #111;
        font-size: 1.9em;
        font-weight: 700;
        margin-top: 80px;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
}

.project {
    width: 250px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0;

    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 20px;

    .course {
        margin: 0;
        font-family: 'Roboto Mono';
        text-transform: uppercase;
        font-weight: 400;
        background-color: #f2f2f2;
        width: fit-content;
        padding: 5px 8px;
        letter-spacing: 2px;
        font-size: 0.79em;
    }

    .title {
        margin: 0;
        margin-top: 10px;
        font-size: 1.4em;
        font-weight: 600;
        color: #111;
        text-transform: lowercase;
    }
    .score {
        margin: 0;
        margin-top: 6px;

    }

    a {
        background-color: transparent;
        width: 100%;
    }

    img {
        width: 40px;
        margin-left: -10px;
        transition: transform 1s;
    }

    &:hover > a > img {
        transform: translateX(100px);
        transition: transform 1s;
    }

    .title:hover {
        /* color: #55d3a9; */
    }
}

footer {
    margin-top: 100px;
}

section.contact {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 7px;

    right: 20px;
    top: 30px;

    height: fit-content;
    align-items: end;

    button {
        position: relative;

        height: 30px;
        width: 30px;
        border: 2px solid #111;

        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        -khtml-border-radius: 50%;

        background-color: white;

        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;

        cursor: pointer;
    }
}

button.contact {

    font-size: 1.2em;

    z-index: 13;
    color: #111;

    /* &::after {
        content: "\002B";
    } */
}

button.email {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    img {
        position: relative;;
        display: inline-block;
        width: 14px;
        /* transform: rotate(-3deg); */
    }

    p {
        display: none;
    }

    &:hover {
        position: relative;
        width: fit-content;
        border-radius: 20px;
        right: 0;

        p {
            display: inline-block;
            position: relative;
    
            font-weight: 600;
            font-size: 1.1em;
    
            color: #111;
            
            padding: 0 10px;
        }
    }

    .copied {
        position: absolute;
        display: block;
        left: -50px;
        font-weight: 500;
        opacity: 0;
    }
}

button.linktree {
    img {
        width: 10px;
        /* transform: rotate(-3deg); */
    }
    p {
        display: none;
    }

    &:hover {
        width: fit-content;
        border-radius: 20px;
        right: 0;

        p {
            display: inline-block;
            position: relative;
    
            font-weight: 600;
            font-size: 1.1em;
    
            color: #111;

            padding: 0 10px;
    
            /* border-bottom: 2px solid #111; */
        }
    }
}

@media only screen and (min-width: 1440px) {
    .content {
        margin-left: 500px;
    }

    .project {
        margin-right: 50px;
    }
}

@media only screen and (max-width: 1024px) {
    body {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        width: 100vw;
    }

    header {
        position: relative;
        display: flex;
        flex-direction: row;
        height: fit-content;
        margin-left: 50px;
        gap: 100px;

        #logo {
            position: fixed;
            display: block;
            z-index: 10;
        }

        .archive {
            margin-top: 160px;
        }

        .info {
            margin-top: 160px;
        }

        margin-bottom: 200px;
    }

    .content {
        margin-left: 50px;
    }

    section.contact {
        position: fixed;
        top: 0;
        right: 0;
        margin-top: 30px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;

        #logo {
            position: fixed;
            top: 0;
            background-color: white;
            width: 100vw;
            z-index: 10;
            padding-bottom: 20px;
            padding-top: 20px;
        }

        .info {
            margin-top: 30px;
        }
    }

    .project {
        margin-right: 20px;
    }

    section.contact {
        z-index: 13;
    }
}

@media only screen and (max-width: 425px) {
    header {
        flex-direction: column;
        height: fit-content;
        margin-bottom: 100px;
        gap: 70px;

        #logo {
            position: fixed;
            font-size: 2em;
        }

        .archive {
            margin-top: 90px;
            font-size: 1.2em;
        }

        .info {
            margin-top: 0px;
            
            .started {
                margin: 0;
        
                font-size: 1.2em;
                width: 70vw;
            }
        }
    }

    section.projects {
        margin-top: 0;

        .section-name {
            font-size: 2em;
        }
    }

    .project {
        margin-right: 20px;
    }

    footer {
        p {
            width: 70vw;
        }
    }

    section.contact {
        top: 23px;
    }
}